.u-section-2 {
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/124d6ad994135628a90d1921/JKJKHH.jpg");
    background-position: 50% 50%;
  }
  .u-section-2 .u-sheet-1 {
    min-height: 727px;
  }
  .u-section-2 .u-layout-wrap-1 {
    width: 886px;
    margin: 348px auto 60px 0;
  }
  .u-section-2 .u-layout-cell-1 {
    min-height: 317px;
  }
  .u-section-2 .u-container-layout-1 {
    padding: 10px;
  }
  .u-section-2 .u-text-1 {
    margin: 0;
  }
  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
    line-height: 1;
    margin: 5px 0 0;
  }
  .u-section-2 .u-image-1 {
    min-height: 167px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/fcd2570fa0e25b1a8a7bb408/blackwhiteexteriorbuilding_741907309.jpg");
    background-position: 50% 50%;
  }
  .u-section-2 .u-container-layout-2 {
    padding: 10px;
  }
  .u-section-2 .u-image-2 {
    min-height: 167px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/00b71c73b90651b5b53242a4/54e2d5404d53a814f6da8c7dda79367d1d38d6ed5b586c4870287ed49449c658bd_1280.jpg");
    background-position: 50% 50%;
  }
  .u-section-2 .u-container-layout-3 {
    padding: 10px;
  }
  .u-section-2 .u-image-3 {
    min-height: 150px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/de40fdaa92ee532792b47744/57e8d0404b5baa14f6da8c7dda79367d1d38d6ed5b586c4870287ed49449c658bd_1280.jpg");
    background-position: 50% 50%;
  }
  .u-section-2 .u-container-layout-4 {
    padding: 10px;
  }
  .u-section-2 .u-image-4 {
    min-height: 150px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/ba30b43a4c9d539ea6c7e3db/5ee3dc404c50b108f5d08460962934761237d6ed5a4c704c722a7bd6934acc58_1280.jpg");
    background-position: 50% 50%;
  }
  .u-section-2 .u-container-layout-5 {
    padding: 10px;
  }
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 599px;
    }
    .u-section-2 .u-text-2 {
      margin-right: 0;
    }
  }
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 946px;
    }
    .u-section-2 .u-layout-wrap-1 {
      width: 720px;
    }
    .u-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
    .u-section-2 .u-image-1 {
      min-height: 370px;
    }
    .u-section-2 .u-image-2 {
      min-height: 370px;
    }
    .u-section-2 .u-image-3 {
      min-height: 332px;
    }
    .u-section-2 .u-image-4 {
      min-height: 332px;
    }
  }
  @media (max-width: 767px) {
    .u-section-2 {
      background-position: 34.59% 50%;
    }
    .u-section-2 .u-layout-wrap-1 {
      width: 540px;
      margin-top: 111px;
    }
    .u-section-2 .u-image-1 {
      min-height: 453px;
    }
    .u-section-2 .u-image-2 {
      min-height: 453px;
    }
    .u-section-2 .u-image-3 {
      min-height: 407px;
    }
    .u-section-2 .u-image-4 {
      min-height: 407px;
    }
  }
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 160px;
    }
    .u-section-2 .u-layout-wrap-1 {
      width: 340px;
    }
    .u-section-2 .u-text-2 {
      font-size: 3rem;
    }
    .u-section-2 .u-image-1 {
      min-height: 285px;
    }
    .u-section-2 .u-image-2 {
      min-height: 285px;
    }
    .u-section-2 .u-image-3 {
      min-height: 256px;
    }
    .u-section-2 .u-image-4 {
      min-height: 256px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 686px;
  }
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .u-section-3 .u-layout-cell-1 {
    min-height: 566px;
  }
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  .u-section-3 .u-text-1 {
    letter-spacing: 2px;
    margin: 0 auto 0 0;
  }
  .u-section-3 .u-text-2 {
    font-weight: 400;
    font-size: 2.25rem;
    margin: 20px auto 0 0;
  }
  .u-section-3 .u-layout-cell-2 {
    min-height: 566px;
    background-position: 50% 50%;
  }
  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }
  .u-section-3 .u-image-1 {
    width: 293px;
    height: 487px;
    margin: 0 auto 0 0;
  }
  .u-section-3 .u-image-2 {
    min-height: 566px;
    background-image: url("//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/49f5b1d4bf415cb3b3525ff3/pexelsphoto3601244.jpeg");
    background-position: 50% 50%;
  }
  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }
  @media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
      min-height: 587px;
    }
    .u-section-3 .u-layout-cell-1 {
      min-height: 467px;
    }
    .u-section-3 .u-layout-cell-2 {
      min-height: 467px;
    }
    .u-section-3 .u-image-2 {
      min-height: 467px;
    }
  }
  @media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
      min-height: 867px;
    }
    .u-section-3 .u-layout-wrap-1 {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .u-section-3 .u-layout-cell-1 {
      min-height: 100px;
    }
    .u-section-3 .u-layout-cell-2 {
      min-height: 613px;
    }
    .u-section-3 .u-container-layout-2 {
      padding: 0;
    }
    .u-section-3 .u-image-2 {
      min-height: 613px;
    }
  }
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1359px;
    }
    .u-section-3 .u-layout-wrap-1 {
      margin-bottom: 52px;
    }
    .u-section-3 .u-layout-cell-1 {
      min-height: 164px;
    }
    .u-section-3 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-3 .u-text-2 {
      font-size: 3.75rem;
    }
    .u-section-3 .u-layout-cell-2 {
      min-height: 527px;
    }
    .u-section-3 .u-image-1 {
      height: 405px;
      margin-left: auto;
    }
    .u-section-3 .u-image-2 {
      min-height: 920px;
    }
    .u-section-3 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1127px;
    }
    .u-section-3 .u-layout-wrap-1 {
      margin-bottom: 30px;
    }
    .u-section-3 .u-layout-cell-1 {
      min-height: 200px;
    }
    .u-section-3 .u-text-2 {
      font-size: 2.25rem;
      margin-right: 0;
    }
    .u-section-3 .u-layout-cell-2 {
      min-height: 476px;
    }
    .u-section-3 .u-image-2 {
      min-height: 579px;
    }
  }.u-section-4 .u-sheet-1 {
    min-height: 520px;
  }
  .u-section-4 .u-layout-wrap-1 {
    margin: 60px auto 60px 0;
  }
  .u-section-4 .u-layout-cell-1 {
    min-height: 275px;
  }
  .u-section-4 .u-container-layout-1 {
    padding: 30px;
  }
  .u-section-4 .u-text-1 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.25rem;
    text-transform: none;
    margin: 0;
  }
  .u-section-4 .u-text-2 {
    line-height: 1.2;
    font-weight: 400;
    text-transform: none;
    font-size: 2.25rem;
    margin: 20px 0 0;
  }
  .u-section-4 .u-image-1 {
    min-height: 177px;
    background-image: url("//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/706bcf81a5525912b6d09064/pexelsphoto3149942.jpeg");
    background-position: 50% 50%;
  }
  .u-section-4 .u-container-layout-2 {
    padding: 30px;
  }
  .u-section-4 .u-image-2 {
    min-height: 177px;
    background-image: url("//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/5ac3ab96650b5b2ead4c52fb/pexelsphoto3309954.jpeg");
    background-position: 50% 50%;
  }
  .u-section-4 .u-container-layout-3 {
    padding: 30px;
  }
  .u-section-4 .u-layout-cell-4 {
    min-height: 400px;
  }
  .u-section-4 .u-container-layout-4 {
    padding: 30px;
  }
  .u-section-4 .u-text-3 {
    margin-top: 0;
    font-size: 1.125rem;
    margin-bottom: 0;
  }
  .u-section-4 .u-btn-1 {
    border-style: solid;
    background-image: none;
    text-transform: uppercase;
    margin: 20px auto 0 0;
  }
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 129px;
    }
    .u-section-4 .u-layout-wrap-1 {
      min-height: 400px;
      margin-right: initial;
      margin-left: initial;
    }
    .u-section-4 .u-layout-cell-1 {
      min-height: 100px;
    }
    .u-section-4 .u-image-1 {
      min-height: 146px;
    }
    .u-section-4 .u-image-2 {
      min-height: 146px;
    }
    .u-section-4 .u-layout-cell-4 {
      min-height: 100px;
    }
  }
  @media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
      min-height: 307px;
    }
    .u-section-4 .u-layout-wrap-1 {
      min-height: 556px;
      margin-right: initial;
      margin-left: initial;
    }
    .u-section-4 .u-image-1 {
      min-height: 224px;
    }
    .u-section-4 .u-image-2 {
      min-height: 224px;
    }
  }
  @media (max-width: 767px) {
    .u-section-4 .u-layout-wrap-1 {
      min-height: 780px;
      margin-right: initial;
      margin-left: initial;
    }
    .u-section-4 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-4 .u-image-1 {
      min-height: 336px;
    }
    .u-section-4 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-4 .u-image-2 {
      min-height: 336px;
    }
    .u-section-4 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-4 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 59px;
    }
    .u-section-4 .u-layout-wrap-1 {
      min-height: 532px;
      margin-right: initial;
      margin-left: initial;
    }
    .u-section-4 .u-layout-cell-1 {
      min-height: 236px;
    }
    .u-section-4 .u-image-1 {
      min-height: 212px;
    }
    .u-section-4 .u-image-2 {
      min-height: 212px;
    }
  }.u-section-5 {
    min-height: 790px;
  }
  .u-section-5 .u-layout-wrap-1 {
    margin: 0 auto 0 0;
  }
  .u-section-5 .u-image-1 {
    background-image: url("//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/2bbf65653b02501382e8d2a4/pexelsphoto709767.jpg");
    min-height: 790px;
    background-position: 50% 50%;
  }
  .u-section-5 .u-image-2 {
    background-image: url("//images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/e45d2553fa56571885c20c99/pexelsphoto2101345.jpg");
    min-height: 790px;
    background-position: 50% 50%;
  }
  @media (max-width: 1199px) {
    .u-section-5 {
      min-height: 512px;
    }
    .u-section-5 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
    .u-section-5 .u-image-1 {
      min-height: 651px;
    }
    .u-section-5 .u-image-2 {
      min-height: 651px;
    }
  }
  @media (max-width: 991px) {
    .u-section-5 {
      min-height: 360px;
    }
    .u-section-5 .u-image-1 {
      min-height: 499px;
    }
    .u-section-5 .u-image-2 {
      min-height: 499px;
    }
  }
  @media (max-width: 767px) {
    .u-section-5 {
      min-height: 1296px;
    }
    .u-section-5 .u-image-1 {
      min-height: 561px;
    }
    .u-section-5 .u-image-2 {
      min-height: 735px;
    }
  }
  @media (max-width: 575px) {
    .u-section-5 {
      min-height: 816px;
    }
    .u-section-5 .u-image-1 {
      min-height: 353px;
    }
    .u-section-5 .u-image-2 {
      min-height: 463px;
    }
  }.u-section-6 {
    background-image: none;
  }
  .u-section-6 .u-sheet-1 {
    min-height: 681px;
  }
  .u-section-6 .u-layout-wrap-1 {
    margin: 70px auto 70px 0;
  }
  .u-section-6 .u-layout-cell-1 {
    background-image: none;
    min-height: 284px;
  }
  .u-section-6 .u-container-layout-1 {
    padding: 25px;
  }
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    letter-spacing: 0px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
  }
  .u-section-6 .u-text-2 {
    font-style: normal;
    margin: 27px 0 0;
  }
  .u-section-6 .u-image-1 {
    background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/fea7ad6a2b0a5c0da2cd28f6/conceptwmodernchairwithwoodstructureandpolyurethaneseatbytonon.jpg");
    min-height: 284px;
    background-position: 50% 50%;
  }
  .u-section-6 .u-image-2 {
    background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/f8e54839cb065c2ba353f526/04_April_tables_white_15_700pixel_02_452x4522x.jpg");
    min-height: 287px;
    background-position: 50% 50%;
  }
  .u-section-6 .u-container-layout-3 {
    padding: 30px;
  }
  .u-section-6 .u-image-3 {
    min-height: 287px;
    background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/1487e7eae95d57608f59f961/59d34f7d19b2d318004045a5d1116d78.jpg");
    background-position: 50% 50%;
  }
  .u-section-6 .u-container-layout-4 {
    padding: 30px;
  }
  .u-section-6 .u-image-4 {
    background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/e91084b88e06557893b7959a/Photo_by_Antti_Pulli_ACOMBO_Natalie_WeinbergerElke_van_den_BergKiho_Kang_sm56f6ff363df78c78418e20491.jpg");
    background-position: 50% 50%;
    min-height: 571px;
  }
  .u-section-6 .u-container-layout-5 {
    padding: 30px;
  }
  @media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
      min-height: 462px;
    }
    .u-section-6 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
    .u-section-6 .u-layout-cell-1 {
      min-height: 234px;
    }
    .u-section-6 .u-image-1 {
      min-height: 234px;
    }
    .u-section-6 .u-image-2 {
      min-height: 237px;
    }
    .u-section-6 .u-image-3 {
      min-height: 237px;
    }
    .u-section-6 .u-image-4 {
      min-height: 471px;
    }
  }
  @media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
      min-height: 1434px;
    }
    .u-section-6 .u-layout-cell-1 {
      min-height: 100px;
    }
    .u-section-6 .u-image-1 {
      min-height: 358px;
    }
    .u-section-6 .u-image-2 {
      min-height: 363px;
    }
    .u-section-6 .u-image-3 {
      min-height: 363px;
    }
    .u-section-6 .u-image-4 {
      min-height: 722px;
    }
  }
  @media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
      min-height: 2260px;
    }
    .u-section-6 .u-layout-cell-1 {
      min-height: 185px;
    }
    .u-section-6 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-6 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
    .u-section-6 .u-image-1 {
      min-height: 537px;
    }
    .u-section-6 .u-image-2 {
      min-height: 545px;
    }
    .u-section-6 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-6 .u-image-3 {
      min-height: 545px;
    }
    .u-section-6 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-6 .u-image-4 {
      min-height: 542px;
    }
    .u-section-6 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
      min-height: 1456px;
    }
    .u-section-6 .u-layout-cell-1 {
      min-height: 100px;
    }
    .u-section-6 .u-image-1 {
      min-height: 338px;
    }
    .u-section-6 .u-image-2 {
      min-height: 343px;
    }
    .u-section-6 .u-image-3 {
      min-height: 343px;
    }
    .u-section-6 .u-image-4 {
      min-height: 341px;
    }
  }.u-section-7 .u-sheet-1 {
    min-height: 715px;
  }
  .u-section-7 .u-shape-1 {
    width: 564px;
  }
  .u-section-7 .u-text-1 {
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-transform: none;
    margin: 102px 0 0 387px;
  }
  .u-section-7 .u-text-2 {
    letter-spacing: 2px;
    font-size: 2.25rem;
    margin: 9px 0 0 387px;
  }
  .u-section-7 .u-layout-wrap-1 {
    margin: 50px auto 60px 0;
  }
  .u-section-7 .u-layout-cell-1 {
    min-height: 400px;
  }
  .u-section-7 .u-container-layout-1 {
    padding: 30px;
  }
  .u-section-7 .u-text-3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
  }
  .u-section-7 .u-image-1 {
    min-height: 400px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/d4c9df7fdf9156a884258906/860c717ffe174207483437e8e36d3c54.jpg");
    background-position: 50% 50%;
  }
  .u-section-7 .u-container-layout-2 {
    padding: 30px;
  }
  .u-section-7 .u-image-2 {
    min-height: 400px;
    background-image: url("//images03.nicepage.com/c461c07a441a5d220e8feb1a/9c12a9ec68be5ad69596b04d/Highland.jpg");
    background-position: 50% 50%;
  }
  .u-section-7 .u-container-layout-3 {
    padding: 30px;
  }
  @media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
      min-height: 590px;
    }
    .u-section-7 .u-shape-1 {
      width: 471px;
      left: auto;
      right: 220px;
    }
    .u-section-7 .u-text-1 {
      margin-left: 187px;
    }
    .u-section-7 .u-text-2 {
      margin-left: 187px;
    }
    .u-section-7 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
    .u-section-7 .u-layout-cell-1 {
      min-height: 330px;
    }
    .u-section-7 .u-image-1 {
      min-height: 330px;
    }
    .u-section-7 .u-image-2 {
      min-height: 330px;
    }
  }
  @media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
      min-height: 522px;
    }
    .u-section-7 .u-shape-1 {
      width: 391px;
      right: 151px;
    }
    .u-section-7 .u-text-1 {
      margin-left: 0;
    }
    .u-section-7 .u-text-2 {
      margin-left: 0;
    }
    .u-section-7 .u-layout-cell-1 {
      min-height: 100px;
    }
    .u-section-7 .u-image-1 {
      min-height: 253px;
    }
    .u-section-7 .u-image-2 {
      min-height: 253px;
    }
  }
  @media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
      min-height: 442px;
    }
    .u-section-7 .u-shape-1 {
      width: 405px;
      left: 50px;
      right: auto;
    }
    .u-section-7 .u-text-2 {
      font-size: 6rem;
    }
    .u-section-7 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-7 .u-image-1 {
      min-height: 569px;
    }
    .u-section-7 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-7 .u-image-2 {
      min-height: 569px;
    }
    .u-section-7 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
      min-height: 328px;
    }
    .u-section-7 .u-shape-1 {
      width: 241px;
      left: 39px;
    }
    .u-section-7 .u-text-2 {
      font-size: 2.25rem;
    }
    .u-section-7 .u-image-1 {
      min-height: 358px;
    }
    .u-section-7 .u-image-2 {
      min-height: 358px;
    }
  }
      .u-section-8 {
    background-image: none;
  }
  .u-section-8 .u-sheet-1 {
    min-height: 570px;
  }
  .u-section-8 .u-layout-wrap-1 {
    margin: 70px auto 70px 0;
  }
  .u-section-8 .u-layout-cell-1 {
    background-image: none;
    min-height: 239px;
  }
  .u-section-8 .u-container-layout-1 {
    padding: 30px 30px 30px 20px;
  }
  .u-section-8 .u-text-1 {
    text-transform: none;
    font-size: 2.25rem;
    margin: 18px 0 0;
  }
  .u-section-8 .u-text-2 {
    font-size: 1.25rem;
    margin: 40px 0 0;
  }
  .u-section-8 .u-layout-cell-2 {
    background-image: none;
    min-height: 237px;
  }
  .u-section-8 .u-container-layout-2 {
    padding: 30px;
  }
  .u-section-8 .u-text-3 {
    text-transform: none;
    font-size: 2.25rem;
    margin: 0;
  }
  .u-section-8 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 188px;
    min-width: 124px;
    margin: 23px auto 0 0;
  }
  .u-section-8 .u-icon-1 {
    height: 100%;
  }
  .u-section-8 .u-icon-2 {
    height: 100%;
  }
  .u-section-8 .u-icon-3 {
    height: 100%;
  }
  .u-section-8 .u-icon-4 {
    height: 100%;
  }
  .u-section-8 .u-text-4 {
    font-size: 1.25rem;
    margin: 32px 0 0;
  }
  .u-section-8 .u-layout-cell-3 {
    background-image: none;
    min-height: 476px;
  }
  .u-section-8 .u-container-layout-3 {
    padding: 30px;
  }
  .u-section-8 .u-text-5 {
    text-transform: none;
    font-size: 2.25rem;
    margin: 0;
  }
  .u-section-8 .u-form-1 {
    height: 334px;
    margin: 32px -60px 0 0;
  }
  .u-section-8 .u-btn-1 {
    background-image: none;
    border-style: none;
  }
  @media (max-width: 1199px) {
    .u-section-8 .u-sheet-1 {
      min-height: 194px;
    }
    .u-section-8 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
    .u-section-8 .u-layout-cell-1 {
      min-height: 100px;
    }
    .u-section-8 .u-text-2 {
      position: relative;
    }
    .u-section-8 .u-layout-cell-2 {
      min-height: 100px;
    }
    .u-section-8 .u-layout-cell-3 {
      min-height: 100px;
    }
    .u-section-8 .u-form-1 {
      margin-right: initial;
      margin-left: initial;
    }
  }
  @media (max-width: 767px) {
    .u-section-8 .u-sheet-1 {
      min-height: 294px;
    }
    .u-section-8 .u-container-layout-1 {
      padding-right: 10px;
      padding-left: 10px;
    }
    .u-section-8 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-8 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }